/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2020, 10:11:47 PM
    Author     : Acer
*/

 p{
  /* padding: 2%; */
 margin: 10px;
        }
        
        p.paragraf-1{
            background-color: aqua;
        }
p.paragraf-2{
    background-color: blue;
}

#paragraf-id{
    background: red;
}